@font-face {
    font-family: 'Righteous';
    src: local('Righteous-Regular'),url('../Assets/Font/Righteous-Regular.ttf') format('truetype');
}

@keyframes shakeAnim {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
}

* {
    font-family: Righteous;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #0066e6, #285fe1, #3a58db, #4751d5, #5249ce, #7143c8, #8a3cc1, #9e34b9, #c02eac, #db2e9e, #f03790, #ff4781);
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100vh; /*100% view port*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: fit-content();
    background-color: white;
    padding-top: 10px;
    padding-bottom: 40px;
    border-radius: 10px;
}

    .container .logo {
        text-align: center;
        color: black;
    }

    .container .user-input {
        width: 80%;
        margin: auto;
    }

        .container .user-input .error-container {
            margin-top: 5px;
            font-size: smaller;
            color: red;
        }

        .container .user-input .textbox.error {
            transition: 0.3s;
            border-bottom: 2px solid red;
            background-color: lightpink;
        }

        .container .user-input .input-command {
            padding-top: 30px;
            color: black;
        }

        .container .user-input .textbox {
            width: 100%;
            height: 40px;
            border: none;
            border-bottom: 2px solid;
            border-bottom-color: gray;
        }
            
            /* To show icon in placeholder*/
            .container .user-input .textbox::-webkit-input-placeholder {
                font-family: FontAwesome, Righteous;
                font-weight: normal;
            }

    .container .login-button {
        text-align: center;
        padding-top: 40px;
    }

        .container .login-button .button {
            font-size: 20px;
            height: 40px;
            width: 100px;
            border-radius: 20px;
            border: none;
            color: white;
            background-color: #5E3EC5;
            transition: 1s;
            cursor: pointer;
            position: relative;
        }

            .container .login-button .button.error {
                animation-name: shakeAnim;
                animation-duration: 5s;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
            }

            .container .login-button .button:hover {
                transition: 1s;
                background-color: #CE2BA9;
            }

    .container .activate-account {
        padding-top: 40px;
        font-size: 15px;
        text-align: center;
        color: black;
    }

        .container .activate-account a {

        }

.title {
    font-size: 20px;
    color: black;
    text-align: center;
}