@font-face {
    font-family: 'Righteous';
    src: local('Righteous-Regular'),url('../Font/Righteous-Regular.ttf') format('truetype');
}

* {
    font-family: Righteous;
}

body {
    background-color: #59D4CD;
}

.header {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1; /*stay on top*/
    top: 0; /*stay on top*/
    left: 0;
    background-color: #6F6FDC;
    overflow-x: hidden; /*disable horizontal scroll*/
    padding-top: 20px;
}

    .header .logo {
        text-align: center;
    }

        /*TEMP LOGO*/
        .header .logo h1 {
            color: white;
            font-size: 50px;
        }

    .header .navbar {
    }

        .header .navbar a {
            padding: 6px 15px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: white;
            display: block;
            text-align: right;
        }

        .header .navbar :hover {
            background-color: #7281B5;
        }


/*CONTENT PLACEHOLDER*/
.content {
    margin-left: 250px;
    margin-top: 60px;
    padding: 0px 10px;
}