body {
}

/* Menu */
#navbar-assignment {
    background-color: white;
}

    #navbar-assignment a {
        color: #5E3EC5;
    }

.title-container {
    display: flex;
    align-items: center;
}

    .title-container .vertical-line {
        height: 40px;
        border-left: 5px solid #ff6a00;
        margin-right: 10px;
    }

    .title-container .title-name {
    }

.upper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .upper-container tr {
        height: 40px;
    }

        .upper-container tr td:nth-child(odd) {
            width: 70px;
        }

        .upper-container tr td:nth-child(even) {
            width: 150px;
        }

    .upper-container .ddl {
        border-radius: 5px;
        padding: 5px;
    }

    .upper-container .edit-score-container .btn-add-assignment {
        padding: 10px 10px;
        border: none;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
    }


.assignment-table-container {
    margin-top: 20px;
}

    .assignment-table-container .assignment-table-header {
        display: flex;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #5E3EC5;
        color: white;
        border-radius: 10px;
    }

    .assignment-table-container .assignment-table-content {
        display: flex;
        text-align: center;
        align-items: center;
        border: 3px solid #5E3EC5;
        border-radius: 10px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        word-wrap: break-word;
    }

    .assignment-table-container .subject-column {
        width: 200px;
    }

    .assignment-table-container .title-column {
        width: 250px;
    }

    .assignment-table-container .download-question-column {
        width: 50px;
    }

        .assignment-table-container .download-question-column .btn-download-question {
            color: darkgray;
        }

    .assignment-table-container .date-column {
        width: 150px;
    }

    .assignment-table-container .status-column {
        width: 150px;
    }

    .assignment-table-container .action-column {
        width: 100px;
    }

    .assignment-table-container .assignment-table-content .title-column {
        text-align: left;
    }

    .assignment-table-container .assignment-table-content .action-column {
        display: flex;
        justify-content: center;
    }

        .assignment-table-container .assignment-table-content .action-column .btn-download-answer {
            color: darkgray;
        }



/* POPUP BACKGROUND */
.popup-background {
    background-color: gray;
    /*filter: alpha(opacity=90);*/
    opacity: 0.8;
}


/* POPUP STYLE */

.popup-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-input {
    border: 5px solid #5E3EC5;
    width: 500px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

    .user-input .title {
        padding-bottom: 20px;
    }

        .user-input .title h1 {
            font-size: 20px;
            color: black;
            text-align: center;
        }

    .user-input .form-table {
        width: 95%;
        margin: auto;
    }

        .user-input .form-table .row {
            display: flex;
            margin-bottom: 10px;
        }

            .user-input .form-table .row .input-command {
                width: 150px;
                text-align: right;
                margin-right: 20px;
            }

            .user-input .form-table .row .input-box .ddl {
                width: 200px;
                padding: 5px;
                border-radius: 5px;
                border: 2px solid gray;
            }

            .user-input .form-table .row .input-box .textbox {
                width: 200px;
                padding: 5px;
                border-radius: 5px;
                border: 2px solid gray;
            }

::placeholder {
    color: lightgray;
    font-size: smaller;
    opacity: 1;
}

:-ms-input-placeholder {
    color: lightgray;
    font-size: smaller;
    opacity: 1;
}

.user-input .form-table .row .input-error-box {
    display: flex;
    flex-direction: column;
}

    .user-input .form-table .row .input-error-box .error-box {
        margin-top: 5px;
        font-size: smaller;
        color: red;
    }

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .button-container .button-create {
        padding: 10px 10px;
        border: none;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
    }

    .button-container #ContentPlaceHolder1_btnCreate {
        width: 70px;
    }

    .button-container #ContentPlaceHolder1_btnCancel {
        background-color: gray;
    }

        .button-container #ContentPlaceHolder1_btnCancel:hover {
            background-color: dimgray;
        }
