body {
}

/* Menu */
#navbar-assignment {
    background-color: white;
}

    #navbar-assignment a {
        color: #5E3EC5;
    }

.title-container {
    display: flex;
    align-items: center;
}

    .title-container .vertical-line {
        height: 40px;
        border-left: 5px solid #ff6a00;
        margin-right: 10px;
    }

    .title-container .title-name {
    }

.upper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .upper-container tr {
        height: 40px;
    }

        .upper-container tr td:nth-child(odd) {
            width: 120px;
        }

        .upper-container tr td:nth-child(even) {
            width: 200px;
        }

    .upper-container .ddl {
        border-radius: 5px;
        padding: 5px;
    }

    .upper-container .edit-score-container .btn-add-assignment {
        padding: 10px 10px;
        background-color: #5E3EC5;
        border: none;
        border-radius: 8px;
        color: white;
        text-align: center;
        cursor: pointer;
    }


.assignment-table-container {
    margin-top: 20px;
}

    .assignment-table-container .assignment-table-header {
        display: flex;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #5E3EC5;
        color: white;
        border-radius: 10px;
    }

    .assignment-table-container .assignment-table-content {
        display: flex;
        text-align: center;
        align-items: center;
        border: 3px solid #5E3EC5;
        border-radius: 10px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        word-wrap: break-word;
    }

    .assignment-table-container .subject-column {
        width: 200px;
    }

    .assignment-table-container .title-column {
        width: 250px;
    }

    .assignment-table-container .download-question-column {
        width: 50px;
    }

        .assignment-table-container .download-question-column .btn-download-question {
            color: darkgray;
        }

    .assignment-table-container .date-column {
        width: 150px;
    }

    .assignment-table-container .status-column {
        width: 150px;
    }

    .assignment-table-container .action-column {
        width: 100px;
    }

    .assignment-table-container .assignment-table-content .title-column {
        text-align: left;
    }

    .assignment-table-container .assignment-table-content .action-column {
        display: flex;
        justify-content: center;
    }

        .assignment-table-container .assignment-table-content .action-column .btn-download-answer {
            color: darkgray;
        }

