@font-face {
    font-family: 'Righteous';
    src: local('Righteous-Regular'),url('../../Assets/Font/Righteous-Regular.ttf') format('truetype');
}

body {
}

/* Menu */
#navbar-dashboard {
    background-color: white;
}

    #navbar-dashboard a {
        color: #5E3EC5;
    }

.greeting {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: -40px;
}

    .greeting .greeting-text {
        width: 1174px;
        text-align: left;
    }

.content {
    display: flex;
    justify-content: center;
}

    .content .left-content {
        width: 720px;
        margin-right: 20px;
    }

        .content .left-content .information-container {
            margin-bottom: 30px;
            position: relative;
        }


            .content .left-content .information-container .info-image-container {
                width: 100%;
                height: 280px;
                display: none; /* Default value */
            }

                .content .left-content .information-container .info-image-container img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }

            .content .left-content .information-container .prev-button, .next-button {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }

            /* Position the "next button" to the right */
            .content .left-content .information-container .next-button {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

            /* On hover, add a black background color with a little bit see-through */
            .content .left-content .information-container .prev-button:hover, .next-button:hover {
                background-color: rgba(0,0,0,0.8);
            }

            .content .left-content .information-container .dot-container {
                text-align: center;
                position: absolute;
                width: 100%;
                top: 90%;
                display: flex;
                justify-content: center;
            }


                /* The dots/bullets/indicators */
                .content .left-content .information-container .dot-container .slideshow-dot {
                    cursor: pointer;
                    height: 15px;
                    width: 15px;
                    margin: 0 2px;
                    border: 2px solid white;
                    background-color: transparent;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                }

                    .content .left-content .information-container .dot-container .slideshow-dot:hover, .content .left-content .information-container .dot-container .slideshow-dot.active {
                        background-color: white;
                    }

        .content .left-content .upcoming-assignment-container {
            border-radius: 20px;
            width: 100%;
            height: 280px;
            background-color: #dadada;
        }

            .content .left-content .upcoming-assignment-container .inside-container {
                padding: 20px 20px;
            }

                .content .left-content .upcoming-assignment-container .inside-container .title {
                    font-size: 20px;
                    border-bottom: 3px solid black;
                    padding: 10px 0;
                }

                .content .left-content .upcoming-assignment-container .inside-container .assignment-table-container {
                    height: 180px;
                    overflow: auto;
                    margin-top: 20px;
                }

                    .content .left-content .upcoming-assignment-container .inside-container .assignment-table-container td {
                        vertical-align: central;
                        height: 30px;
                    }

                    .content .left-content .upcoming-assignment-container .inside-container .assignment-table-container tr {
                        display: list-item;
                        list-style-type: disc;
                        list-style-position: outside;
                        margin-left: 20px;
                        vertical-align: baseline;
                    }

                    .content .left-content .upcoming-assignment-container .inside-container .assignment-table-container td:nth-child(1) {
                        width: 150px;
                        padding: 0 5px;
                    }

                    .content .left-content .upcoming-assignment-container .inside-container .assignment-table-container td:nth-child(2) {
                        width: 200px;
                        padding: 0 5px;
                    }

                    .content .left-content .upcoming-assignment-container .inside-container .assignment-table-container td:nth-child(3) {
                        width: 150px;
                        text-align: center;
                        padding: 0 5px;
                    }

                    .content .left-content .upcoming-assignment-container .inside-container .assignment-table-container td:nth-child(4) {
                        width: 150px;
                        padding: 0 5px;
                    }

                    .content .left-content .upcoming-assignment-container .inside-container .assignment-table-container .view-assignment-button {
                        padding: 5px 10px;
                        border: none;
                        border-radius: 8px;
                        color: white;
                        text-align: center;
                        cursor: pointer;
                    }

.assignment-table-container .no-assignment-div {
    display: none;
    text-align: center;
}

    .assignment-table-container .no-assignment-div h3 {
        font-size: 16px;
        font-weight: normal;
    }

    .assignment-table-container .no-assignment-div.active {
        display: block;
    }



    .content .right-content {
        width: 400px;
        margin-left: 20px;
    }

        .content .right-content .upcoming-course-container {
            border-radius: 20px;
            background-color: #dadada;
            height: 100%;
        }

            .content .right-content .upcoming-course-container .inside-container {
                padding: 20px 20px;
            }

                .content .right-content .upcoming-course-container .inside-container .title {
                    font-size: 20px;
                    border-bottom: 3px solid black;
                    padding: 10px 0;
                }

                .content .right-content .upcoming-course-container .inside-container .course-table-container {
                    height: 470px;
                    overflow: auto;
                    margin-top: 20px;
                }

.course-table-container .no-schedule-div {
    display: none;
    text-align: center;
}

    .course-table-container .no-schedule-div h3 {
        font-size: 16px;
        font-weight: normal;
    }

    .course-table-container .no-schedule-div.active {
        display: block;
    }

                    .content .right-content .upcoming-course-container .inside-container .course-table-container tr:nth-child(even) td {
                        vertical-align: central;
                        height: 50px;
                    }

                    .content .right-content .upcoming-course-container .inside-container .course-table-container tr:nth-child(odd) td {
                        vertical-align: central;
                        height: fit-content;
                    }

                    .content .right-content .upcoming-course-container .inside-container .course-table-container tr {
                        display: list-item;
                        list-style-type: disc;
                        list-style-position: outside;
                        margin-left: 20px;
                        vertical-align: baseline;
                    }

                        .content .right-content .upcoming-course-container .inside-container .course-table-container tr:nth-child(even) {
                            display: block;
                            margin-left: 20px;
                            vertical-align: baseline;
                        }

                    .content .right-content .upcoming-course-container .inside-container .course-table-container td:nth-child(1) {
                        width: 35%;
                        padding: 0 5px;
                    }

                    .content .right-content .upcoming-course-container .inside-container .course-table-container td:nth-child(2) {
                        width: 30%;
                        padding: 0 5px;
                        text-align: center;
                    }

                    .content .right-content .upcoming-course-container .inside-container .course-table-container td:nth-child(3) {
                        width: 35%;
                        padding: 0 5px;
                    }

                    .content .right-content .upcoming-course-container .inside-container .course-table-container .join-class-button {
                        padding: 5px 10px;
                        border: none;
                        border-radius: 8px;
                        color: white;
                        text-align: center;
                        cursor: pointer;
                    }
