body {
}

@keyframes shakeAnim {
    0% {
        left: 0
    }

    1% {
        left: -3px
    }

    2% {
        left: 5px
    }

    3% {
        left: -8px
    }

    4% {
        left: 8px
    }

    5% {
        left: -5px
    }

    6% {
        left: 3px
    }

    7% {
        left: 0
    }
}

/* Menu */
#navbar-assignment {
    background-color: white;
}

    #navbar-assignment a {
        color: #5E3EC5;
    }


.assignment-filter-container tr {
    height: 40px;
}

    .assignment-filter-container tr td:nth-child(odd) {
        width: 70px;
    }

    .assignment-filter-container tr td:nth-child(even) {
        width: 150px;
    }

.assignment-filter-container .ddl {
    border-radius: 5px;
    padding: 5px;
}

.assignment-table-container {
    margin-top: 20px;
}

    .assignment-table-container .assignment-table-header {
        display: flex;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #5E3EC5;
        color: white;
        border-radius: 10px;
    }

    .assignment-table-container .assignment-table-content {
        display: flex;
        text-align: center;
        align-items: center;
        border:3px solid #5E3EC5;
        border-radius: 10px;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        word-wrap: break-word;
    }

        .assignment-table-container .assignment-table-content.no-assignment {
            display: block;
            text-align: center;
        }

    .assignment-table-container .subject-column {
        width: 150px;
        padding: 0 5px;
    }

    .assignment-table-container .title-column {
        width: 250px;
        padding: 0 5px;
    }

    .assignment-table-container .download-question-column {
        width: 50px;
        padding: 0 5px;
    }

        .assignment-table-container .download-question-column .btn-download-question {
            color: darkgray;
        }

    .assignment-table-container .date-column {
        width: 150px;
        padding: 0 5px;
    }

    .assignment-table-container .status-column {
        width: 150px;
        padding: 0 5px;
    }

    .assignment-table-container .action-column {
        width: 100px;
        padding: 0 5px;
    }

    .assignment-table-container .assignment-table-content .title-column {
        text-align: left;
    }

    .assignment-table-container .assignment-table-content .action-column {
        display: flex;
        justify-content: space-evenly;
    }

        .assignment-table-container .assignment-table-content .action-column .upload-answer {
            cursor: pointer;
        }

        .assignment-table-container .assignment-table-content .action-column .upload-answer input {
            display: none;
        }

        .assignment-table-container .assignment-table-content .action-column .btn-download-answer {
            color: darkgray;
        }

        .assignment-table-container .assignment-table-content .action-column .upload-answer {
            color: darkgray;
        }


/* POPUP BACKGROUND */
.popup-background {
    background-color: gray;
    /*filter: alpha(opacity=90);*/
    opacity: 0.8;
}


/* POPUP STYLE */

.popup-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-input {
    border: 5px solid #5E3EC5;
    width: 500px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
}

    .user-input .title {
        padding-bottom: 20px;
    }

        .user-input .title h1 {
            font-size: 20px;
            color: black;
            text-align: center;
        }

    .user-input .error-server-container {
        width: 70%;
        height: fit-content();
        padding: 10px 10px;
        margin-top: 10px;
        margin-bottom: 30px;
        border: 2px solid lightpink;
        border-radius: 8px;
        background-color: #F8D7DA;
        color: darkred;
        font-size: 14px;
        display: none;
        text-align: left;
    }

        .user-input .error-server-container.active {
            display: block;
        }

    .user-input .form-table {
        width: 95%;
        margin: auto;
    }

        .user-input .form-table .row {
            display: flex;
            margin-bottom: 10px;
        }

            .user-input .form-table .row .input-command {
                width: 150px;
                text-align: right;
                margin-right: 20px;
            }

            .user-input .form-table .row .input-box .ddl {
                width: 200px;
                padding: 5px;
                border-radius: 5px;
                border: 2px solid gray;
            }

            .user-input .form-table .row .input-box .textbox {
                width: 200px;
                padding: 5px;
                border-radius: 5px;
                border: 2px solid gray;
            }

                .user-input .form-table .row .input-box .textbox.error {
                    transition: 0.3s;
                    border: 2px solid red;
                    background-color: #F8D7DA;
                }

::placeholder {
    color: lightgray;
    font-size: smaller;
    opacity: 1;
}

:-ms-input-placeholder {
    color: lightgray;
    font-size: smaller;
    opacity: 1;
}

.user-input .form-table .row .input-error-box {
    display: flex;
    flex-direction: column;
}

    .user-input .form-table .row .input-error-box .error-box {
        margin-top: 5px;
        font-size: smaller;
        color: red;
        text-align: left;
        width: 200px;
    }

.ajax__calendar_container {
    z-index: 10000;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .button-container .button-create {
        padding: 10px 10px;
        border: none;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
    }

    .button-container #ContentPlaceHolder1_btnCreate {
        width: 70px;
    }

    .button-container .button-create.error {
        animation-name: shakeAnim;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
    }

