@font-face {
    font-family: 'Righteous';
    src: local('Righteous-Regular'),url('../../Assets/Font/Righteous-Regular.ttf') format('truetype');
}


* {
    font-family: Righteous;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.header {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1; /*stay on top*/
    top: 0; /*stay on top*/
    left: 0;
    background-color: #5E3EC5;
    /*background-color: #5E3EC5*/ /* #FCFCFC #5E3EC5 #6F6FDC*/ /*;*/
    overflow-x: hidden; /*disable horizontal scroll*/
    padding-top: 20px;
}

    .header .logo {
        text-align: center;
    }

        /*TEMP LOGO*/
        .header .logo h1 {
            font-family: Righteous;
            color: white;
            font-size: 50px;
        }

    .header .navbar {
        width: 200px;
        text-align: left;
        margin: auto;
    }

        .header .navbar .menu {
            padding: 10px 0px;
            border-radius: 15px;
        }

        .header .navbar a {
            padding: 6px 15px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: white;
            display: block;
        }

            .header .navbar a i {
            }

        .header .navbar :hover {
            background-color: white;
        }

            .header .navbar :hover a {
                color: #5E3EC5;
            }


/*CONTENT PLACEHOLDER*/


.content-placeholder {
    margin-left: 250px;
    margin-top: 30px;
    padding: 0px 50px;
}


.head-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

    .head-container .left-container {
        width: 750px;
    }

    .head-container .right-container {
        display: flex;
        align-items: center;
        width: 400px;
    }

        .head-container .right-container .notification-container {
            margin-right: 40px;
        }

            .head-container .right-container .notification-container .notification {
                border-radius: 50%;
                padding: 8px;
                background-color: #F1F1F1;
            }

                .head-container .right-container .notification-container .notification i {
                    font-size: 20px;
                    color: black;
                }


        .head-container .right-container .profile-container {
            position: relative;
        }

            .head-container .right-container .profile-container .profile {
                display: flex;
                align-items: center;
                padding: 5px;
                background-color: #F1F1F1;
                border-radius: 20px;
                cursor: pointer;
            }

                .head-container .right-container .profile-container .profile .profile-description {
                    width: 250px;
                }

                    .head-container .right-container .profile-container .profile .profile-description .profile-name {
                        font-size: 15px;
                    }

                    .head-container .right-container .profile-container .profile .profile-description .profile-role {
                        font-size: 10px;
                    }

                .head-container .right-container .profile-container .profile .profile-picture {
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                }

                    .head-container .right-container .profile-container .profile .profile-picture img {
                        width: 30px;
                        border-radius: 50%;
                    }

                .head-container .right-container .profile-container .profile .arrow-down {
                    width: 20px;
                }

                    .head-container .right-container .profile-container .profile .arrow-down i {
                        font-weight: bold;
                    }

            /* Second Level Menu (dropdown) */
            .head-container .right-container .profile-container .profile-dropdown-content {
                display: none;
                position: absolute;
                list-style: none;
                min-width: 80%;
                background-color: #F1F1F1;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                top: 48px;
                right: 20px;
            }

                .head-container .right-container .profile-container .profile-dropdown-content ul {
                    list-style: none;
                    margin: 0;
                    padding: 12px 16px;
                    text-align: center;
                }

                    .head-container .right-container .profile-container .profile-dropdown-content ul #btnLogout {
                        height: 35px;
                        width: 100%;
                        border: none;
                        color: white;
                        background-color: #5E3EC5;
                        transition: 1s;
                    }

                        .head-container .right-container .profile-container .profile-dropdown-content ul #btnLogout:hover {
                            transition: 1s;
                            background-color: #CE2BA9;
                        }

                .head-container .right-container .profile-container .profile-dropdown-content:before {
                    content: "";
                    position: absolute;
                    top: -20px;
                    right: 15px;
                    border: 10px solid;
                    border-color: transparent transparent #F1F1F1 transparent;
                }

            .head-container .right-container .profile-container .profile-dropdown-content.show-dropdown {
                display: block;
            }
