

.title{
    font-size:30px;
    margin-bottom:5%;
}
    .title b{
        color: #5E3EC5
    }
.left-container-content{

    width:50%;
    
}
.right-container-content{
    width:50%;
}

    .ddl {
        font-size: 25px;
        border-radius: 5px;
        margin-right:10%;
        padding:5px;
    }

.Accordion{

    margin-top:2%;
}

    .AccordionHead {
        font-size: 25px;
        border-bottom: solid #6d53c2 2px;
        width: 100%;
        background-color: #6345c4;
        color: white;
        border-radius: 10px;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0px 0px 7px 2px inset rgba(228, 233, 237,0.1);
    }
    .SelectedHeader {
        font-size: 25px;
        border-bottom: solid #6d53c2 2px;
        width: 100%;
        background-color: #6345c4;
        color: white;
        border-radius: 10px;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }


.AccordionContent {
    background-color: #dadada;
    font-size: 20px;
    border-radius: 10px;
    padding-top:10px;
    padding-bottom:10px;
}
    
    
    .tbl{
        width:90%;
        table-layout:fixed;
        margin-left:auto;
        margin-right:auto;
        border-spacing: 2px;
        
            
    }
        .tbl tr {
            height: 30px;
            
        }
        .tbl td {
            
            text-align: center;
        }
        .tbl .coursename{
            text-align:left;
        }

.join-class-button {
    padding: 5px 10px;
    background-color: #5E3EC5;
    border: none;
    border-radius: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size:20px;
}